*{
    margin: 0;
    padding: 0;
}

.header{
    width: 100%;
    height: 100px;
    background-color: rgba(160, 240, 236, 0.205);
    padding: 4px;
    box-sizing: border-box;
    text-align: center;
    border-bottom-left-radius: 40%;
    border-bottom-right-radius: 40%;
    position: fixed;
    border-bottom: 2px solid black;
    /*border-top: 2px solid black;*/
    box-shadow: 10px 10px 2px rgba(0, 0, 0, 0.5)
}

.header .logo{
    width: 80px;
    height: 80px;
    position: relative;
    top: -8px;
    right: 3px;
    background-image: url("../img/logo2.png");
    background-size: contain;
    float: left;
}

.header .tambah{
    width: 50px;
    height: 50px;
    background-color: white;
    border: 1px solid black;
    margin-right: 5px;
    border-radius: 50%;
    line-height: 50px;
    float: right;
}

.header .keluar{
    width: 50px;
    height: 50px;
    background-color: white;
    border: 1px solid black;
    margin-right: 5px;
    border-radius: 50%;
    line-height: 50px;
    float: right;
}

.cl::after{
    content: "";
    display: table;
    clear: both;
}

body{
    height: 1000px;
    background-color: antiquewhite;
}